project_id = "ponderada"
tasks_name = "fila-legal"
region = "us-central1"
admin_email = "email_do_admin@gmail.com"
supabase_access_token = "12345seutoken6789"
database_region = "us-east-1"
database_password = "SenhaSecreta123"
supabase_org_id = "abcdefghijlmnopq"
function_name = "telemetry-producer"
function_source_dir = "../../backend/consumer"
environment_variables = {
  "DATABASE_URL" = "postgresql://sua-url-do-postgre:5432/postgres"
}